*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f4f4f4;
}
.navbar{
    background: #0b3d2e;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    position: sticky;
    top: 0%;
}
.navbar ul{
    list-style: none;
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
.navbar a {
    color: white;
    text-decoration: none;
}
/* Hero*/
.hero{
    height: 90vh;
    background: url('../images/team\ logo.jpg') center/cover no-repeat;
    color: #0b3d2e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.hero h1{
    font-size: 3rem;
}
.btn {
    margin-top: 15px;
    padding: 10px 20px;
    background: #d4af37;
    border: none;
    cursor: pointer;
}
.section{
    padding: 40px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background: white;
    padding: 15px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.cards:hover{
    transform: scale(1.05);
}
img {
    width: 100%;
    display: block;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;

}
form {
    max-width: 500px;
    margin: auto;
}
form input, textarea, form select{
    width: 100%;
    margin: 10px;
    padding: 10px;
}
footer{
    background: #0b3d2e;
    color: white;
    text-align: center;
    padding: 10px;
}